<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Browse" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>


<RootLayout height="100%" width="100%">
  <GridLayout height="100%">
    <Label
      verticalAlignment="center"
      textAlignment="center"
      text="MAIN CONTENT AREA"
    ></Label>
    <Label
    verticalAlignment="center"
    textAlignment="center"
    text="MAIN CONTENT AREA"
  ></Label>
  </GridLayout>
</RootLayout>